<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>357066781567-sfl7gnodso6fiee0s4jk839drg1ukbi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357066781567-sfl7gnodso6fiee0s4jk839drg1ukbi8</string>
	<key>API_KEY</key>
	<string>AIzaSyB-G4mSZ08ryzZAD1gahLeFIF8j2XRfJcA</string>
	<key>GCM_SENDER_ID</key>
	<string>357066781567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futuregroup.futurepay</string>
	<key>PROJECT_ID</key>
	<string>future-pay-dev-2</string>
	<key>STORAGE_BUCKET</key>
	<string>future-pay-dev-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357066781567:ios:1f51b191448a2fc2</string>
	<key>DATABASE_URL</key>
	<string>https://future-pay-dev-2.firebaseio.com</string>
</dict>
</plist>